body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#calculatorBody,
#key,
#buttonPad {
    border-radius: 15px;
}

#calculatorBody {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 50px;
    gap: 20px;
    width: 600px;
    height: 800px;
    background-color: rgb(25, 41, 41);
}

#screen {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 25px;
    height: 45px;
    font-size: 90px;
    background-color: mediumseagreen;
}

#holding {
    flex: 2;
    display: flex;
    align-items: center;
    width: 540px;
}

#holdingNum {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 20px 5px 20px;
    height: 40px;
    font-size: 40px;
    color: rgb(59, 58, 58);
}

#display {
    flex: 6;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 540px;
}

#buttonPad {
    flex: 3 1 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: rgb(206, 206, 206);
}

#numberPad {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div > #key.zero {
    flex: 53;
}

div > #key.decimal {
    flex: 25;
}

#operatorPad {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#row {
    flex: 1;
    display: flex;
    align-items: stretch;
}

#key {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 4px;
    min-height: 40px;
    min-width: 40px;
    font-size: 60px;
    font-weight: bold;
    color: white;
    background-color: rgb(25, 41, 41);
}

#key.equals {
    background-color: orangered;
}