#calculatorBody {
    background-color: rgb(25, 41, 41);
}

#screen {
    background-color: mediumseagreen;
    height: 20px;
    width: 20px;
}

#buttonPad {
    display: flex;
}

#numberPad {
    background-color: purple;
}

#operatorPad {
    background-color: brown;
}

#row {
    display: flex;
}

#key {
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#key {
    height: 40px;
    width: 40px;
    background-color: aqua;
}