body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculatorBody {
    background-color: rgb(25, 41, 41);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 500px;
    height: 800px;
    padding: 50px;
    gap: 20px;
}

#screen {
    background-color: mediumseagreen;
    flex: 1 1 auto;
    height: 
}

#buttonPad {
    flex: 3 1 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: aquamarine;
}

#numberPad {
    flex: 1;
    background-color: purple;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: black;
}

#operatorPad {
    flex: 1;
    background-color: brown;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: black;
}

#row {
    display: flex;
}

#key {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#key {
    flex: auto;
    height: 40px;
    width: 40px;
    background-color: aqua;
}